html {
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

.time-icon {
  vertical-align: bottom;
  margin-right: 5px;
  font-size: 18px !important;
}

.post-card-title .time-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}
